body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: grey;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 20px;
}

#products {
    background-color: white;
}

.product {
    margin-bottom: 30px;
}

form {
    max-width: 500px;
    margin: auto;
}

footer {
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
}
